* {
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 199, 89);
    color: white;
}

button {
    width: 100px;
    height: 30px;
}